.welcome-holder {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-image: url('../../../../public/mobile/welcome-bg.svg');
  box-sizing: border-box;

  .welcome-top {
    padding-top: 80px;
    display: flex;
    flex-direction: column;

    span {
      margin-top: 30px;
      font-size: 20px;
      text-align: center;
    }
  }

  .button-holder {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background: linear-gradient(50deg, var(--secondary-color), var(--primary-color));
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;

    a:hover {
      font-weight: bold;
    }
  }
}
