@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Roboto", sans-serif;

  /* type scale */
  --text-xs: 0.75em;
  --text-sm: 14px;
  --text-md: 1.125em;
  --text-lg: 18px;
  --text-xl: 24px;
  --text-xxl: 2.5em;
  --text-xxxl: 4.5em;
  --text-xxxxl: 9.375em;

  /* font weights */

  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  font-family: var(--font-secondary);
  font-weight: var(--medium);
}

h2 {
  font-size: var(--text-xl);
  color: var(--white);
}

a, p, span, label, input, textarea {
  font-family: var(--font-primary);
}

@media (min-width:400px) and (max-width:768px) {

  :root {
    --text-xs: 0.5em;
  }
}
