@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Roboto", sans-serif;

  /* type scale */
  --text-xs: 12px;
  --text-sm: 14px;
  --text-md: 16px;
  --text-lg: 18px;
  --text-xl: 24px;

  /* font weights */
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  font-family: var(--font-secondary);
  font-weight: var(--medium);
}

h2 {
  font-size: var(--text-xl);
  color: var(--white);
}

a, p, span, label, input, textarea {
  font-family: var(--font-primary);
}
