@if (profile) {
  <div class="profile-holder container">
    <div class="profile-head">
      <span>Твоят профил</span>
      <a routerLink="/profile/edit">
        <img src="/shared/edit.png" alt="Редактирай">
      </a>
    </div>
    <div class="profile-info-box">
      <div class="main-info">
        <div class="main-info-image">
          <img [src]="profile.picture" alt="Вашата профилна снимка">
        </div>
        <div class="main-info-text">
          <span class="names">{{ profile.name }}</span>
          <span class="user-role">
            {{ profile.isCertified ? 'Сертифициран' : 'Несертифициран' }}
          </span>
        </div>
      </div>
      <div class="additional-info-holder">
        <div class="additional-info">
          <div class="info">
            <h3>Лична информация</h3>
            <div class="info-inner">
              <span>Имейл: {{profile.email}}</span>
              <span>Телефонен номер: {{profile.phone}}</span>
            </div>
          </div>
          @if(profile.experience)
          {
            <div class="info">
              <h3>Опит</h3>
              <span>{{profile.experience}}</span>
            </div>
          }
          @if(profile.skills)
          {
            <div class="info">
              <h3>Умения</h3>
              <span>{{profile.skills}}</span>
            </div>
          }
          <div class="info">
            <h3>Сертификати</h3>

            @if (certificateUrl) {
              <a [href]="certificateUrl" download="certificate.png" class="certificate" style="text-decoration: underline;">Свали сертификата си</a>
            } @else {
              <span>Няма качен сертификат</span>
            }
          </div>
        </div>
      </div>
    </div>
  </div>

}
