<nav>
  <a routerLink="/map" class="nav-item">
    <img src="/shared/map-icon.svg" alt="карта" />
    <span>карта</span>
  </a>
  @if(isLogged()) {
  <a routerLink="/become-volunteer" class="primary-button">Стани доброволец</a>
  } @if(!isLogged()) {
  <a routerLink="/profile/details" class="nav-item">
    <img src="/shared/map-icon.svg" alt="карта" />
    <span>профил</span>
  </a>
  }
  <div class="nav-item">
    <img src="/shared/donate-icon.svg" alt="дари" />
    <span>дари</span>
  </div>
</nav>
