<!--@if (profile) {-->
<!--  <div class="profile-holder container">-->
<!--    <div class="profile-head">-->
<!--      <span>Редактирай профил</span>-->
<!--    </div>-->
<!--    <form [formGroup]="profileForm">-->



<!--    </form>-->
<!--    <div class="profile-info-box">-->
<!--      <div class="main-info">-->
<!--        <div class="main-info-image">-->
<!--          <img [src]="profile.picture" alt="Вашата профилна снимка">-->
<!--        </div>-->
<!--        <div class="main-info-text">-->
<!--          <span class="names">{{ profile.name }}</span>-->
<!--          <input placeholder="Иван Иванов"-->
<!--                 class="profile-name profile-input"-->
<!--                 type="text"-->
<!--                 formControlName="firstName">-->
<!--          <span class="user-role">-->
<!--            {{ profile.isCertified ? 'Сертифициран' : 'Нецертифициран' }}-->
<!--          </span>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="additional-info-holder">-->
<!--        <div class="additional-info">-->
<!--          <div class="info">-->
<!--            <h3>Лична информация</h3>-->
<!--            <div class="info-inner">-->
<!--              <span>Имейл: {{profile.email}}</span>-->
<!--              <span>Телефонен номер: {{profile.phone}}</span>-->
<!--            </div>-->
<!--          </div>-->
<!--          @if(profile.experience)-->
<!--          {-->
<!--            <div class="info">-->
<!--              <h3>Опит</h3>-->
<!--              <span>{{profile.experience}}</span>-->
<!--            </div>-->
<!--          }-->
<!--          @if(profile.skills)-->
<!--          {-->
<!--            <div class="info">-->
<!--              <h3>Умения</h3>-->
<!--              <span>{{profile.skills}}</span>-->
<!--            </div>-->
<!--          }-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--}-->



@if (profile) {
  <div class="profile-holder container" [formGroup]="profileForm">
    <div class="profile-head">
      <span>Редактирай профил</span>
    </div>

    <div class="profile-info-box">
      <div class="main-info">
        <div class="main-info-image">
          <img [src]="profile.picture || '/images/shared/default-image-owner.svg'"
               alt="Вашата профилна снимка">
        </div>

        <div class="main-info-text">
          <label>Име и фамилия</label>
          <input class="profile-input"
                 type="text"
                 formControlName="name"
                 placeholder="Име и фамилия" />
          @if(name?.touched && name?.invalid){
            <div class="alert">* въведи валидно име (мин. 2 символа)</div>
          }

          <span class="user-role">
            {{ profile.isCertified ? 'Сертифициран' : 'Несертифициран' }}
          </span>
        </div>
      </div>

      <div class="additional-info-holder">
        <div class="additional-info">
          <div class="info">
            <h3>Лична информация</h3>
            <div class="info-inner">
              <input class="profile-input" type="email" formControlName="email" readonly />

              <input class="profile-input"
                     type="text"
                     formControlName="phone"
                     placeholder="+359888990865" />
            </div>
          </div>

          <div class="info">
            <h3>Опит</h3>
            <textarea class="profile-textarea"
                      formControlName="experience"
                      rows="7"
                      placeholder="Опиши твоя опит"></textarea>
          </div>

          <div class="info">
            <h3>Умения</h3>
            <textarea class="profile-textarea"
                      formControlName="skills"
                      rows="7"
                      placeholder="Пример: разхождане, грижа за малки породи, даване на лекарства"></textarea>
          </div>
        </div>
      </div>

      <app-certificate-upload (uploaded)="onCertificateUploaded($event)"></app-certificate-upload>

      <div class="center-button-holder">
        <button class="btn secondary-button" (click)="save()">Редактирай</button>
      </div>
    </div>
  </div>
}

