@if (profile) {
  <button type="button" class="back-button" (click)="goBack()">
    <img src="/shared/back.png" alt="Стрелка за връщане назад">
    Върни се назад
  </button>
  <div class="profile-holder container" [formGroup]="profileForm">
    <div class="profile-head">
      <span>Редактирай профил</span>
    </div>

    <div class="profile-info-box">
      <div class="main-info">
        <div class="main-info-image">
          <img [src]="profile.picture || '/images/shared/default-image-owner.svg'"
               alt="Вашата профилна снимка">
        </div>

        <div class="main-info-text">
          <label>Име и фамилия</label>
          <input class="profile-input"
                 type="text"
                 formControlName="name"
                 placeholder="Име и фамилия" />
          @if(name?.touched && name?.invalid){
            <div class="alert">* въведи валидно име (мин. 2 символа)</div>
          }

          <span class="user-role">
            {{ profile.isCertified ? 'Сертифициран' : 'Несертифициран' }}
          </span>
        </div>
      </div>

      <div class="additional-info-holder">
        <div class="additional-info">
          <div class="info">
            <h3>Лична информация</h3>
            <div class="info-inner">
              <input class="profile-input" type="email" formControlName="email" readonly />

              <input class="profile-input"
                     type="text"
                     formControlName="phone"
                     placeholder="+359888990865" />
            </div>
          </div>

          <div class="info">
            <h3>Опит</h3>
            <textarea class="profile-textarea"
                      formControlName="experience"
                      rows="7"
                      placeholder="Опиши твоя опит"></textarea>
          </div>

          <div class="info">
            <h3>Умения</h3>
            <textarea class="profile-textarea"
                      formControlName="skills"
                      rows="7"
                      placeholder="Пример: разхождане, грижа за малки породи, даване на лекарства"></textarea>
          </div>

          <div class="info">
            <h3>Сертификат</h3>

            @if (certificateUrl) {
              <div class="certificate-preview">
                <a [href]="certificateUrl" target="_blank" rel="noopener">Виж текущ сертификат</a>
              </div>
            } @else {
              <span class="certificate note">Нямаш качен сертификат.</span>
            }
          </div>
        </div>
      </div>

      <app-certificate-upload (uploaded)="onCertificateUploaded($event)"></app-certificate-upload>

      <div class="center-button-holder">
        <button class="btn secondary-button" (click)="save()">Редактирай</button>
      </div>
    </div>
  </div>
}

