.become-volunteer-title-holder {
  padding: 75px 10px;
  display: flex;
  justify-content: center;
  background: linear-gradient(50deg, var(--secondary-color), var(--primary-color));
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}
