@use './styles/components/buttons';
@use './styles/base/base';
@use './styles/abstracts/typography';

body {
  position: relative;
  margin: 0;
}

a {
  color: black;
}

google-map {
  display: block;
  height: 100vh;
  width: 100vw;
}

.map-container {
  height: 100vh !important;
  width: 100vw !important;
}
